/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
        

/*************************************************************************
 ***                    Début de la feuille de style                   ***
 *************************************************************************/ 

body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;   
}
body > div {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}

header{
	display:none;
	height : 80px;
	background : grey;
}

#btnLogout:hover{
	cursor: pointer;
}

/*****************************************
 *
 *
 *					JEUX
 *
 *
 * **************************************/

@media (max-width: 900px) {

	#jeux{
		flex-direction: column-reverse;
	}

	#heap{
		margin:20px 0 0 0 !important;
	}
	
	#heap div:first-child{
		margin-right: 10px;
	}

	#load{
		width : 100vw !important;
	}
}

#room{
	display:flex;
	flex-direction:column;
}

#jeux{
	justify-content:center;
	display:none;
	align-items:center;
}

#plateau{
	display:flex;
	align-items:center;
}

#plateau div p{
	text-align:center;
	margin-bottom: 20px;
}

#heap{
	margin-right: 50px;
	display:flex;
}

#heap div{
	text-align:center;
}

#plateau div table tbody tr{
	display:flex;
}


/**********************
 *
 *		Chargement
 *
 * ********************/

#load{
	display:flex;
	flex-direction:column;
	align-items: center;
	margin:  auto;
	gap:30px;
	border:1px solid #555;
	width:500px;
}

#load p{
	margin-top : 10px;
	color: #2b2b2b;
}

#loadSvg{
	-webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}


/*********************
 *
 *		Chat
 *
 * ******************/


@media (max-width: 900px) {

	#content{
		width:100vw !important;
	}

	#content h3{
		top : -32px !important;
		transform : none !important;
		left : -11px !important;
	}

	#content h2{
		position : relative !important;
		top : -22px !important;
		left : 0px !important;
		width : 50px !important;
	}
	
	#content aside{
		width : auto !important;
		float : none !important;
		margin-bottom : 50px !important;
		height : auto !important;
	}

	#content main{
		width : auto !important;
		height : 300px !important;


	}

	#content footer{
		padding : 20px 0 6px 0 !important;
		width : 100vw !important;
	}

}

#content {
	margin: 50px auto ;
    height: 500px;
    width: 700px;
    background-color: beige;
    padding: 10px;
}
#content h2, #content h3 {
    position: relative;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#content h2 {
    top: -54px;
    left: -11px;
	width:50px;
}
#content h3 {
    right: 106px;
    top: -22px;
	left:535px;
	width: 164px;
    transform-origin: left center;
    transform: translate(100%) rotate(90deg);
}
#content main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
	top: -22px;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#content main .mp {
    color: darkblue;   
}
#content main .moi {
    color: green;   
}
#content main .system {
    color: orange;   
}
#content main .chifoumi {
    color: blueviolet;   
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#content footer {
    position: relative; 
    bottom: 4px;
    padding: 5px 10px; 
    width: 700px;
	top: -20px;
    left: -10px;
	background-color: inherit;
}
#content footer input {
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 180px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}
        
#content aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1.2;
    font-size: 14px;
}
#content aside p {
    cursor: pointer;   
    margin: 0;
    padding: 0;
}
#content aside p[data-score]:after {
    content: ' [' attr(data-score) ' pts]';
    float: right;
}
#content aside p[data-score]:nth-child(1):before {
    content: '\01F947';
}
#content aside p[data-score]:nth-child(2):before {
    content: '\01F948';
}
#content aside p[data-score]:nth-child(3):before {
    content: '\01F949';
}

/************************************
 *
 *				Lobby screen
 *
 * **************************************/


@media (max-width: 900px) {
	
	nav {
		flex-direction: column !important;
	}

	nav section{
		width: 100vw !important;
	}

}


#scroll {
	color:black;
	background-color: white;
	height : 50px;
	margin : 0 20px;
	overflow:hidden; 
	overflow-y:scroll;
}

#scroll li:hover{
	background-color:grey;
	cursor:pointer;
}

nav {
    display: flex;
    flex-direction: row;
    height: 99vh;
    justify-content: space-evenly;
    align-items: center;
}
nav section {
	display: flex;
	height: 200px;
	justify-content: center;
	flex-direction: column;
    border-radius: 4vw;
    background-color: lightgrey;
    width: 30vw;
    position: relative;
    box-shadow: 10px 10px 10px #333;
	text-align: center;
	padding-bottom: 5px;
}
nav section:nth-child(2) {
    background-color: lightseagreen;
    color: white;
}
nav section h2 {
    font-size: 28px;
    margin: 2vw;
}
nav section table {
    margin: 10px auto;
}
nav section td {
    padding: 0.5vw;
}
nav section input[type="number"] {
    width: 50px;
}
nav section input[type="submit"]{
	width:150px;
	margin:auto;
}
    

/**********************************
 *
 *				Log screen
 *
 * **********************************/
    
        
#logScreen {
    background: rgba(200, 200, 200, 0.8);
    width: 100vw;
    height: 100vh;
}


@media (max-width: 900px) {
	
	#logScreen div{
		width: 100vw !important;
		height: 200px;
	}

	#logScreen div p{
		font-size: 26px;
	}
}


#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
    padding-top: 20px;
}
#logScreen input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}
#logScreen #pseudo {
    width: 80%;   
}


/** Animation BUZZ **/
.buzz {
    animation-name: buzz;
    animation-duration  : 0.10s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
}
@keyframes buzz {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-55%, -50%);
    }
    75% {
        transform: translate(-45%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

